<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MyMovieDB{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/app">Les Films
                            </a>
                        </li>
                        {# <li class="nav-item">
                            <a class="nav-link" href="/app/genre">Par Genre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/actor">Par Acteur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/studio">Par Studio</a>
                        </li> #}
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}        
        </div>
    </body>
</html>
